@charset "utf-8";
/* 以下实际使用若已初始化可删除 .nav height父级需逐级设置为100%*/
body,html{height: 100%;/*background: #E2E2E2*/}
body,ul{margin:0;padding:0}
body{font:14px "微软雅黑","宋体","Arial Narrow",HELVETICA;-webkit-text-size-adjust:100%;} 
li{list-style:none} 
a{text-decoration:none;}
a:hover,a:visited,a:link,a:active{text-decoration:none;}

/* nav */
.nav{position:fixed;width: 12%;height: 100%;transition: all .3s;float: left;border-radius: 0 10px 10px 0;webkit-box-shadow: #888888 3px 0px 5px;-moz-box-shadow: #888888 3px 0px 5px;box-shadow: #888888 3px 0px 5px;
	/*background: #263238;*/
	background: -webkit-linear-gradient(left top, #3b66b5 , #3bb5ab); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(bottom right, #3b66b5, #3bb5ab); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(bottom right, #3b66b5, #3bb5ab); /* Firefox 3.6 - 15 */
	background: linear-gradient(to bottom right, #3b66b5 , #3bb5ab); /* 标准的语法 */
	
	z-index: 2;
}
.nav a{display: block;overflow: hidden;padding-left: 20px;line-height: 46px;max-height: 46px;color: #FFFFFF;transition: all .3s;}
.nav a span{margin-left: 30px;}
.nav-item{position: relative;}
.nav-item.nav-show{border-bottom: none;}
.nav-item ul{display: none;background: rgba(0,0,0,.1);}
.nav-item.nav-show ul{display: block;}
.nav-item>a:before{content: "";position: absolute;left: 0px;width: 2px;height: 46px;background: #34A0CE;opacity:0;transition: all .3s;}
.nav .nav-icon{font-size: 20px;position: absolute;margin-left:-1px;}
/* 此处修改导航图标 可自定义iconfont 替换*/
.icon_1::after{content: "\e620";}
.icon_2::after{content: "\e669";}
.icon_3::after{content: "\e68f";}

.icon_4::after{content: "\e6bc";}
.icon_5::after{content: "\e604";}
.icon_6::after{content: "\e6cf";}

.icon_7::after{content: "\e61d";}

.icon_8::after{content: "\e65c";}
.icon_9::after{content: "\e696";}
/*---------------------*/
.nav-more{float:right;margin-right: 20px;font-size: 12px;transition: transform .3s;}
/* 此处为导航右侧箭头 如果自定义iconfont 也需要替换*/
.nav-more::after{content: "\e621";}
/*---------------------*/
.nav-show .nav-more{transform:rotate(90deg);}
.nav-show,.nav-item>a:hover{color: #FFF;background:rgba(0,0,0,.1);}
.nav-show>a:before,.nav-item>a:hover:before{opacity:1;}
.nav-item li:hover a{color: #dff3ff;background: rgba(0, 0, 0,.1);}

/* nav-mini */
.nav-mini.nav{width: 60px;}
.nav-mini.nav .nav-icon{/* margin-left:-2px; */}
.nav-mini.nav .nav-item>a span{display: none;}
.nav-mini.nav .nav-more{margin-right: -20px;}
.nav-mini.nav .nav-item ul{position: absolute;top:0px;left:60px;width: 180px;z-index: 99;background:#3C474C;overflow: hidden;}
.nav-mini.nav .nav-item:hover{background:rgba(255,255,255,.1);}
.nav-mini.nav .nav-item:hover .nav-item a{color:#FFF;}
.nav-mini.nav .nav-item:hover a:before{opacity:1;}
.nav-mini.nav .nav-item:hover ul{display: block;}

.item-fontsize{font-size: 12px;}

/*顶部栏*/
.topbar{
	width: 100%;height: 40px;background: #FFFFFF;position: fixed;border-bottom: solid 2px;
	border-image: -webkit-linear-gradient( #3b66b5 , #3bb5ab) 10 10; /* Safari 5.1 - 6.0 */
	border-image: -o-linear-gradient( #3b66b5, #3bb5ab) 10 10; /* Opera 11.1 - 12.0 */
	border-image: -moz-linear-gradient( #3b66b5, #3bb5ab) 10 10; /* Firefox 3.6 - 15 */
	border-image: linear-gradient( #3b66b5 , #3bb5ab) 10 10; /* 标准的语法 */
	/*line-height: 38px;*/
	z-index: 1;
}
.topbar .blank_div{
	width: 30px;height:100%;
	border-right: solid 2px #3bb5ab;
	float: left;
}
.topbar ul{
	overflow: hidden;
}
.topbar ul li{
	float: left;
	min-width: 100px;
	text-align: center;
	/*background-color: #f2f2f2;*/
	transition: all 0.3s;
}
.topbar ul li:hover{
	background: -webkit-linear-gradient(left top, #3b66b5 , #3bb5ab); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(bottom right, #3b66b5, #3bb5ab); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(bottom right, #3b66b5, #3bb5ab); /* Firefox 3.6 - 15 */
	background: linear-gradient(to bottom right, #3b66b5 , #3bb5ab); /* 标准的语法 */
	color: #FFFFFF;
}
.topbar-bg{
	background: -webkit-linear-gradient(left top, #3b66b5 , #3bb5ab); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(bottom right, #3b66b5, #3bb5ab); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(bottom right, #3b66b5, #3bb5ab); /* Firefox 3.6 - 15 */
	background: linear-gradient(to bottom right, #3b66b5 , #3bb5ab); /* 标准的语法 */
	color: #FFFFFF;
}
.topbar ul li p{
	margin: 6px auto;
    border-right: solid 2px #3bb5ab;
    line-height: 26px;
    padding: 0 10px;
}
#iframeContent{margin-top: 45px;}



